@namespace url(http://reporting.pentaho.org/namespaces/charting/1.0);
/* set default namespace to Pentaho Charts */

/* blocks */

chart {
}

stylesheet {
}

title {
  font-family: fantasy;
  font-size: 12.0pt;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: darkslategray;
  background-color: YELLOW;
}

plot {
}

axis {
  -x-pentaho-chart-axis-type-dimension: auto;
  -x-pentaho-chart-axis-type-position: primary;
  -x-pentaho-chart-axis-type-order: 1;
}

series {
  -x-pentaho-chart-series-type: bar;
  -x-pentaho-chart-line-style: solid;
  -x-pentaho-chart-orientation: vertical;
  -x-pentaho-chart-bar-style: bar;
  -x-pentaho-chart-bar-max-width: 50%;
  -x-pentaho-chart-drill-url: none;
  -x-pentaho-chart-label-text: '{0}';
  -x-pentaho-chart-gradient-start: 0, 0;
  -x-pentaho-chart-gradient-end: 1, 1;
}
