@namespace url(http://reporting.pentaho.org/namespaces/charting/1.0);
/* set default namespace to Pentaho Charts */

/* blocks */

chart {
}

stylesheet {
}

title {
  font-family: fantasy;
  font-size: 12.0pt;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: darkslategray;
  background-color: YELLOW;
}

plot {
}

axis {
}

series {
  -x-pentaho-chart-series-type: bar;
  -x-pentaho-chart-line-style: solid;
  -x-pentaho-chart-categorical: false;
  -x-pentaho-chart-orientation: vertical;
  -x-pentaho-chart-bar-style: bar;
  -x-pentaho-chart-bar-max-width: 50%;
  -x-pentaho-chart-drill-url: none;
}
