/**
 * This file contains the inital stylesheet properties for the
 * charting API. The style-rules here do not get matched,
 * so no matter what selector you put in, they always get matched
 * as *ANY_NODE* selector.
 */

/** Series Styles */
* {
  -x-pentaho-chart-categorical: false;
  -x-pentaho-chart-orientation: vertical;
  -x-pentaho-chart-line-style: solid;
  -x-pentaho-chart-bar-style: bar;
  -x-pentaho-chart-bar-max-width: 50%;    
}

