/**
 * This file contains the inital stylesheet properties for the
 * charting API. The style-rules here do not get matched,
 * so no matter what selector you put in, they always get matched
 * as *ANY_NODE* selector.
 */

/** Series Styles */
* {
  -x-pentaho-chart-series-type: bar;
  -x-pentaho-chart-orientation: vertical;
  -x-pentaho-chart-line-style: solid;
  -x-pentaho-chart-bar-style: bar;
  -x-pentaho-chart-bar-max-width: 50%;
  -x-pentaho-chart-drill-url-template: none;
  -x-pentaho-chart-axis-type-dimension: auto;
  -x-pentaho-chart-axis-type-position: primary;
  -x-pentaho-chart-axis-type-order: 1;
  -x-pentaho-chart-item-label-visible: no;
  -x-pentaho-chart-item-label-text: '{0}';
  -x-pentaho-chart-gradient-type: none;
  -x-pentaho-chart-gradient-color: black, white;  
  -x-pentaho-chart-gradient-start: 0, 0;  
  -x-pentaho-chart-gradient-end: 1, 1;  
}

